obj
bin
*.chm
_ReSharper.*
*.csproj.user
*.ReSharper.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
web.config
Web.config
local_properties.rb
product/docs/Help/*.*
artifacts
*.config
product/config/app.config.vista
product/config/app.config.xp
product/config/log4net.config.xml
product/config/hibernate.cfg.xml
